

/* g90-black highlights.html */
body{
    overflow-x: hidden;
}
header{
    position: relative;
    transition: top 0.4s;
    background: #111;
}
header.is-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#wrapper{
    background: #111;
    min-width: 320px;
}

.w_bg{
    background: #fff;
}
/* 비디오 */
#video_model{
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    max-height: 65vw;
    background-color: #000;
    backface-visibility: hidden;
}
[class^="video_"] {
    box-sizing: border-box;
}
.video_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.video_box{
    width: 100%;
    height: 100%;
}
.video_box video{
    box-sizing: border-box;
}
.viedo_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.viedo_content::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.6;
}
.viedo_content_box{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0 140px;
    box-sizing: border-box;
}
.viedo_content_box_cover{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.viedo_content_box_cover_inner{
    position: absolute;
    bottom: 100px;
    left: 0;
    pointer-events: auto;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
.viedo_content_box_cover_inner span{
    font-family: "genesis-head-light", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.03;
    display: block;
    color: #fff;
    text-transform: uppercase;
}
.pc_video{
    display: block;
}
.video_box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 오버뷰 */
.overview_short{
    overflow: hidden;
    background-color: #000;
    backface-visibility: hidden;
}
[class^="overview_short_"] {
    box-sizing: border-box;
}
.overview_short_cover{
    width: 100%;
    height: 100vh;
    max-height: 110vw;
}

.overview_short_inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.overview_short_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overview_short_bg::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 0.6;
}
.overview_short_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.7);
    transform-origin: 59% 97%;
    will-change: transform;
}

.overview_short_dimmed{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.overview_short_content{
    position: relative;
    z-index: 10;
    width: 100%;
}
.overview_short_content_inner{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0 140px;
}
.overview_short_content_box1{
    display: flex;
    align-items: flex-end;
    height: 100vh;
    pointer-events: none;
    position: relative;
    width: 100%;
}
.is-pc{
    display: block;
}
.is-mo{
    display: none;
}

.overview_short_content_title{
    font-family: "genesis-head-light", sans-serif;
    font-size: 60px;
    line-height: 1.26;
    display: block;
    width: 533px;
    padding: 0 0 120px;
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.02em;
}
.overview_short_content_box2{
    pointer-events: none;
    margin: 25px 0 0;
    position: relative;
    width: 100%;
}
.overview_short_content_desc{
    font-size: 28px;
    line-height: 1.6;
    width: 800px;
    color: #fff;
    letter-spacing: -0.84px;
}
.overview_short_content_sub_desc{
    font-size: 12px;
    width: 520px;
    margin: 60px 0 0;
    line-height: 1.2;
    color: #7c7c7c;
}
.img_mo{
    display: none;
}

/* 영감 */
#inspiration{
    padding-bottom: 140px;
    overflow: hidden;
    background-color: #000;
}
[class^="inspiration_"] {
    box-sizing: border-box;
}
.inspiration_content_inner{
    position: relative;
}
.inspiration_content_inner_title_wrap{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 10;
}
.inspiration_content_inner_title{
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 140px;
    box-sizing: border-box;
}
.inspiration_content_inner_title_sub{
    font-family: "genesis-text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #7C7C7C;
}
.inspiration_content_inner_title_main{
    font-family: "genesis-head-light", sans-serif;
    font-size: 42px;
    line-height: 1.3;
    width: 800px;
    color: white;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: -0.01em;
}
.inspiration_content_inner_img_wrap{
    transform: translate(0, 20px);
}
.inspiration_content_inner_img{
    transform: translate(0, 30%);
}
.inspiration_content_inner_img img{
    width: 100%;
}
.inspiration_content_box{
    position: relative;
    max-width: 1920px;
    margin: -270px auto 0;
    padding: 0 140px;
}
.inspiration_content_textarea_inner{
    width: 672px;
}
.inspiration_content_textarea_inner_desc{
    margin: 0;
}
.inspiration_content_textarea_inner_text{
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #7c7c7c;
}
/* 외장 디자인 */
#exteriordesign{
    overflow: hidden;
    backface-visibility: hidden;
    position: relative;
    background: #000;
}
[class^="exteriordesign_"] {
    box-sizing: border-box;
}
.exteriordesign_intro{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.exteriordesign_intro_dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    opacity: 1;
    background: #000;
    z-index: 10;
}
.exteriordesign_intro_headline_wrap{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 10;
}
.exteriordesign_intro_headline_title{
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 140px;
}
.exteriordesign_intro_headline_title span{
    color: rgba(255, 255, 255, 0.5);
    font-family: "genesis-text", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    box-sizing: border-box;
}
.exteriordesign_intro_headline_title h2{
    color: #fff;
    font-family: "genesis-head-light", sans-serif;
    font-size: 42px;
    line-height: 1.3;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: -0.01em;
    box-sizing: border-box;
}
.exteriordesign_intro_headline_title p{
    color: rgba(255, 255, 255, 0.5);
    width: 32.5%;
    max-width: 533px;
    padding-top: 40px;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    box-sizing: border-box;
}
.exteriordesign_intro_headline_title p sup{
    font-size: 15px;
    color: #7c7c7c;
    font-family: "genesis-text", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.2px;
    box-sizing: border-box;
}
.exteriordesign_intro_img_wrap{
    position: relative;
    display: block;
    height: 100%;
}
.exteriordesign_intro_img_wrap::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
}
.exteriordesign_intro_img{
    width: 122%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.exteriordesign_intro_img:first-child{
    opacity: 1;
}
.exteriordesign_intro_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.exteriordesign_intro_img_text_wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.exteriordesign_intro_img_text_inner{
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 140px 100px 140px;
}
.exteriordesign_intro_img_text{
    max-width: 533px;
    opacity: 0;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    transform: translate(0, 100%);
    pointer-events: none;
}
.exteriordesign_intro_img_text .exteriordesign_intro_img_text_title{
    pointer-events: none;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    float: left;
}
.exteriordesign_intro_img_text .exteriordesign_intro_img_text_title span{
    display: block;
    box-sizing: border-box;
}
.exteriordesign_intro_img_text .exteriordesign_intro_img_text_desc{
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.01em;
}
.exteriordesign_intro_img_text_dimmed{
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);

}
.exteriordesign_item{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.exteriordesign_item_wrap{
    position: relative;
    height: 100vh;
}
.exteriordesign_intro_item_dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
}
.exteriordesign_item_img{
    width: 100%;
    height: 100%;
}
.exteriordesign_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.exteriordesign_item_text_wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.exteriordesign_item_text_inner{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: flex-end;
    padding: 0 140px 100px 140px;
}

.exteriordesign_item_text{
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    max-width: 533px;
    opacity: 0;
    pointer-events: none;
}
.exteriordesign_item_title{
    float: left;
    color: #fff;
}
.exteriordesign_item_title span{
    display: block;
    box-sizing: border-box;
}
.exteriordesign_item_desc{
    color: rgba(255, 255, 255, 0.5);
}
/* full_visual_image */
.full_visual_image{
    background-color: #000;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
}
.full_visual_image_inner{
    color: #f5f5f5;
}
.full_visual_image_intro{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    background: #000;
}
.full_visual_image_headline_wrap::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.full_visual_image_headline_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.full_visual_image_headline_text{
    position: relative;
    height: 100%;
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 140px;
    box-sizing: border-box;
}
.full_visual_image_headline_desc{
    position: absolute;
    top: 100px;
    left: 140px;
    width: 533px;
    opacity: 0;
    transform: translateY(50%);
    color: rgba(255, 255, 255, 0.5);
    word-break: keep-all;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
}
.full_visual_image_headline_desc_title{
    color: #fff;
}
.full_visual_image_intro_img{
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
}
.full_visual_image_intro_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* 실내 디자인 */
.interiordesign{
    background-color: #000;
    position: relative;
    backface-visibility: hidden;
}
.interiordesign_inner{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 140px 0;
    z-index: 1;
}
.interiordesign_box{
    position: relative;
    width: 100%;
}
.interiordesign_disclaimer{
    color: rgba(255, 255, 255, 0.5);
    font-family: "genesis-text", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: -0.01em;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    max-width: 1920px;
    z-index: 1;
    margin: 0 auto;

}
.interiordesign_text_box{
    margin: 0 20px 0 0;
    position: relative;
    width: 100%;
}
.interiordesign_textarea{
    width: 68%;
    padding-top: 100px;
}
.interiordesign_title_inner{
    color: #fff;
    padding: 0;
    max-width: 1920px;
    margin: 0px auto;
}
.interiordesign_title_subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-family: "genesis-text", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.interiordesign_title_text{
    color: #fff;
    font-family: "genesis-head-light", sans-serif;
    font-size: 42px;
    line-height: 1.3;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: -0.01em;
}
.interiordesign__img{
    transform: translate(0, 0);
    overflow: hidden;
}
.interiordesign__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interiordesign_desc_text{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;
    width: 533px;
}
.interiordesign_desc_inner{
    margin: 40px 0 0;
}
[class^="interiordesign_"] {
    box-sizing: border-box;
}
/* contents_slide */
.contents_slide{
    position: relative;
    overflow: hidden;
    background: #fff;
}
.contents_slide.bg_black{
    background-color: #000;
}
.contents_slide_inner{
    max-width: 1920px;
    margin: 0 auto;
}
.swiper_cards{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* 모바일 */
.swiper_cards_items{
    transform: translate3d(0px, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper_cards_item{
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper_cards_card{
    position: relative;
    width: 100%;
    padding-top: 142.372881%;
}
.swiper_cards_card img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.swiper_cards_desc_wrap{
    font-family: "genesis-text", sans-serif;
    font-size: 14px;
    line-height: 1.56;
    margin-top: 24px;
    padding-right: 37px;
    font-weight: 400;
    letter-spacing: -0.01em;
}
.swiper_cards_title{
    margin-right: 0;
    color: #fff;

}
.swiper_cards_desc{
    color: #767676;
}
.overlap_cards_info .overlap_cards_info_inr + .section_btn{
    margin: 20px 0 0;
}
.overlap_cards_info:not(:first-child) .overlap_cards_info_inr + .section_btn {
    opacity: 0;
}
.overlap_cards_info:not(:first-child) .overlap_cards_info_inr{
    opacity: 0;
}
.section_btn{
    color: #fff;
    font-family: "genesis-text", sans-serif;
    font-size: 20px;
    line-height: 1.56;
    position: relative;
    letter-spacing: -0.01em;
}
.bg_black .section_btn::before,.section_btn::after{
    background-color: #fff;
}
.section_btn::before{
    transition: transform 0.4s ease-in-out;
    transform: scaleX(1);
    transform-origin: right;
}
.section_btn::after{
    transition: transform 0.4s ease-in-out 0.2s;
    transform: scaleX(0);
    transform-origin: left;
}
.section_btn::before, .section_btn::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
}
.contents_slide_video_wrap{
    width: 100%;
    height: 100%;
}
.contents_slide_video_wrap video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper_cards_card video{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.contents_slide_video{
    width: 100%;
    height: 100%;
}
.contents_slide_boost_video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contents_slide_video_wrap::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.swiper_cards_desc_wrap{
    font-family: "genesis-text", sans-serif;
    font-size: 14px;
    line-height: 1.56;
    margin-top: 24px;
    padding-right: 37px;
    font-weight: 400;
    letter-spacing: -0.01em;
  
}
.replay_btn_toggle{
    position: absolute;
    top: 28px;
    right: 28px;
    width: 48px;
    height: 48px;
    transform: rotate(-90deg);
    z-index: 10;
}
.play .replay_btn_toggle::after{
    background-image: url(img/ico-pause-white.png);
}
.replay_btn_toggle::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("img/ico-play-white.png") no-repeat center/contain;
}
.contents_slide_overlap_cards{
    margin-bottom: 70px;
}
.overlap_cards{
    height: 100vh;
    max-height: 150vw;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    padding: 140px 140px 70px;
    margin-bottom: 70px;
    overflow: hidden;
}
.contents_slide_overlap_cards_inner{
    position: relative;
    display: flex;
    width: 100%;
    gap: 20px;
}

.overlap_cards_info_wrap{
    position: relative;
    flex: 1;
    width: 100%;
    height: calc(100vh - 240px);
}
.overlap_cards_info_inr{
    pointer-events: none !important;
}
.contents_slide .overlap_cards_info .overlap_cards_title{
    margin-right: 0;
}
.bg_black .overlap_cards_title{
    color: #fff;
}
.bg_black .overlap_cards_desc{
    color: #7c7c7c;
}
.overlap_cards_desc{
    font-family: "genesis-text", sans-serif;
    line-height: 1.56;
}
.overlap_cards_img_desc{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.overlap_cards_info{
    position: absolute;
    top: 50%;
    left: 0%; 
    transform: translate(0, -50%);
    width: 66%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    z-index: 1;
}
.overlap_cards_info:not(:first-child){
    opacity: 1;
    z-index: 0;
}
.overlap_cards_img_wrap{
    position: relative;
    flex: 1;
    width: 100%;
    will-change: transform;
}
.overlap_cards_img{
    position: relative;
    width: 100%;
}
.overlap_cards_img:not(:first-child){
    margin-top: 40px;
}
.overlap_cards_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 81 / 101;
}
.overlap_cards_img_inr{
    width: 100%;
    height: 100%;
}
.overlap_cards_img_inr::after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 124.691358%;

}
.overlap_cards_img_inr img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 81 / 101;
}
/* 모델 네비게이션 */
.model_nav{
    border: none;
    position: relative;
    background-color: #151515;
}
.model_nav_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    padding: 0 140px 0 140px;
}
.model_nav_cover{
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 75%;
    width: 100%;
    height: 100%;
}
.model_nav_model_name{
    width: 198px;
    font-family: "genesis-head", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    flex-shrink: 0;
}

.model_nav_color_bar::before{
    background: linear-gradient(to right, #C36F51 calc(var(--model_nav_color_scorll, 0) * 100%), transparent 0%);
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
}
.model_nav_color_bar{
    position: relative;
    background-color: #111;
}
.model_nav_menu{
    width: 100%;
    height: 100%;
}
.model_nav_menu_wrap{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.model_nav_menu_list{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
}
.model_nav_menu_list_item{
    display: flex;
    width: auto;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}
.model_nav_list_item_btn{
    font-size: 12px;
    line-height: 1.3;
    color: #7c7c7c;
    font-family: "genesis-text", sans-serif;
}
.model_nav_menu_list_item.btn_active .model_nav_list_item_btn{
    color: #fff;
}
.model_nav_list_item_btn:hover{
    color: #fff;
}
.model_nav_menu_list_item + .model_nav_menu_list_item{
    margin-left: 28px;
}
.nav_bar{
    height: auto;
}
/* 반응형 */
@media (max-width: 1919px){
    .viedo_content_box{
        padding: 0 120px;
    }
    .overview_short_content_inner{
        padding: 0 120px;
    }
    .model_nav_box{
        padding: 0 120px;
        box-sizing: border-box;
    }
    .inspiration_content_inner_title{
        padding: 0px 120px;
    }
    .inspiration_content_box{
        padding: 0 120px;
    }
    .exteriordesign_intro_headline_title{
        padding: 0px 120px;
    }
    .exteriordesign_intro_img_text_inner{
        padding: 0 120px 100px 120px;
    }
    .exteriordesign_item_text_inner{
        padding: 0 120px 100px 120px;
    }
    .full_visual_image_headline_text{
        padding: 0px 120px;
    }
    .interiordesign_inner{
        padding: 0 120px 0;
    }
    .interiordesign_disclaimer{
        padding: 0 120px;
    }
    .contents_slide_overlap_cards{
        padding: 170px 120px 70px;
    }
    .full_visual_image_headline_text{
        padding: 0px 120px;
    }
    .interiordesign_title_inner{
        padding: 0px 120px;
    }
}
@media (max-width: 1599px){
    .viedo_content_box{
        padding: 0 100px;
    }
    .overview_short_content_inner{
        padding: 0 100px;
    }
    .model_nav_box{
        padding: 0 100px;
    }
    .model_nav_model_name{
        width: auto;
    }
    .model_nav_menu_wrap{
        margin-left: 24px;
    }
    .inspiration_content_inner_title{
        padding: 0px 100px;
    }
    .inspiration_content_box{
        padding: 0 100px;
    }
    .exteriordesign_intro_headline_title{
        padding: 0px 100px;
    }
    .exteriordesign_intro_img_text_inner{
        padding: 0 100px 100px 100px;
    }
    .exteriordesign_item_text_inner{
        padding: 0 100px 100px 100px;
    }
    .interiordesign_inner{
        padding: 0 100px 0;
    }
    .contents_slide_overlap_cards{
        padding: 170px 100px 70px;
    }
    .full_visual_image_headline_text{
        padding: 0px 100px;
    }
    .interiordesign_title_inner{
        padding: 0px 100px;
    }
}
@media (max-width: 1359px) {
    .viedo_content_box {
        padding: 0 76px;
    }
    .overview_short_content_inner{
        padding: 0 76px;
    }
    .model_nav_box{
        padding: 0 76px;
    }
    .model_nav_model_name{
        width: auto;
    }
    .inspiration_content_inner_title{
        padding: 0 76px;
    }
    .inspiration_content_box{
        padding: 0 76px;
    }
    .exteriordesign_intro_headline_title{
        padding: 0px 76px;
    }
    .exteriordesign_intro_img_text_inner{
        padding: 0 76px 100px 76px;
    }
    .exteriordesign_item_text_inner{
        padding: 0 76px 100px 76px;
    }
    .interiordesign_inner{
        padding: 0 76px 0;
    }
    .contents_slide_overlap_cards{
        padding: 170px 76px 70px;
    }
    .full_visual_image_headline_text{
        padding: 0px 76px;
    }
    .interiordesign_title_inner{
        padding: 0px 76px;
    }
}
@media (max-width: 1199px){
    .overview_short_content_title{
        letter-spacing: normal;
    }
    .overview_short_content_desc{
        letter-spacing: -0.01em;
    }
    .inspiration_content_inner_title_sub{
        font-size: 13px;
        line-height: 1.2;
    }
    .inspiration_content_inner_title_main{
        font-size: 28px;
        line-height: 1.32;
    }
    .inspiration_content_box{
        margin: -216px auto 0;
    }
    .inspiration_content_textarea_inner_text{
        font-size: 14px;
        line-height: 1.54;
    }
    .exteriordesign_intro_img_text .exteriordesign_intro_img_text_desc sup{
        font-size: 10px;
    }
    .exteriordesign_intro_headline_title span{
        font-size: 13px;
        line-height: 1.2;
    }
    .exteriordesign_intro_headline_title h2{
        font-size: 28px;
        line-height: 1.32;
    }
    .exteriordesign_intro_headline_title p{
        font-size: 14px;
        line-height: 1.54;
    }
    .model_nav_list_item_btn{
        font-size: 14px;
    }
    #video_model{
        max-height: 200vw;
    }
    .viedo_content_box_cover_inner span{
        font-size: 48px;
        line-height: 1;
    }
    .interiordesign_title_subtitle{
        font-size: 13px;
        line-height: 1.2;
    }
    .interiordesign_title_text{
        font-size: 28px;
        line-height: 1.32;
    }
    .interiordesign_desc_text{
        font-size: 16px;
    }
    .section_btn{
        font-size: 14px;
        line-height: 1.55;
    }
    .overlap_cards_info{
        font-size: 16px;
    }
    .overview_short_img{
        will-change: auto;
    }
    .exteriordesign_intro_headline_title p sup{
        font-size: 10px;
    }
    .full_visual_image_headline_desc{
        font-size: 14px;
        line-height: 1.54;
    }
}
/* @media (max-width: 1024px) {
    .viedo_content_box {
        padding: 0 76px;
    }
} */
@media (max-width: 1023px) and (min-width: 500px) {
    .interiordesign_text_box {
      padding: 650px 0 0;
    }
    .interiordesign_box.is-mo{
        padding: 650px 0 0;
    }
    .interiordesign__img{
        left: 0;
        height: 100%;
    }
}
@media (max-width: 1023px) {

    #video_model{
        height: calc(100vh - 125px);
        max-height: 565px;
    }
    .img_pc {
        display: none;
    }
    .img_mo {
        display: block;
    }
    .overview_short_content_title{
        max-width: 358px;
        width: 248px;
        padding: 0 0 40px;
        font-size: 36px;
    }
    .overview_short_content_inner{
        margin: auto;
        padding: 0 20px;
    }
    .overview_short_content_desc{
        font-size: 22px;
        line-height: 1.5;
        width: 84.47761194%;
    }
    .overview_short_content_sub_desc{
        width: 85.07462687%;
        font-size: 10px;
        margin: 40px 0 0;
    }
    .is-pc{
        display: none;
    }
    .is-mo{
        display: block;
    }
    .interiordesign_inner{
        display: block;
        position: relative;
        margin: auto;
        padding: 0 0 80px;
    }
    .interiordesign_text_box{
        width: auto;
        margin: 0;
        overflow: hidden;
        display: block
    }
    .interiordesign_textarea{
        width: auto;
        padding: 0 20px;
    }
    .interiordesign_title{
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    .interiordesign_desc{
        padding: 0 0 0 26.3%;
    }
    .interiordesign_desc_text{
        font-size: 14px;
        line-height: 1.54;
        width: auto;
    }
    .swiper_cards{
        background-color: #000;
        padding: 120px 20px;
        box-sizing: content-box;

    }
    .swiper_cards_desc_inner{
        font-size: 14px;
    }
    .section_btn{
        margin: 20px 0 0;
        color: #fff;
    }
    .contents_slide_video_wrap::before{
        width: 100%;
        height: 120px;
    }
    .replay_btn_toggle{
        top: 16px;
        right: 17px;
        width: 36px;
        height: 36px;
    }
    .viedo_content_box {
        margin: auto;
        padding: 0 20px;
    }
    .inspiration_content_inner_title_main{
        width: 237px;
        margin-top: 12px;
    }
    .inspiration_content_inner_title{
        padding: 60px 20px 0px;
    }
    .inspiration_content_inner_title_wrap{
        position: relative;
        top: auto;
        left: auto;
        z-index: 1;
    }
    .inspiration_content{
        padding: 0 0 95px;
    }
    #inspiration{
        padding-bottom: 0;
    }
    .inspiration_content_inner_img_wrap{
        margin-top: 20px;
        transform: translate(0, 0);
    }
    .inspiration_content_inner_img{
        position: relative;
        height: auto;
        transform: translate(0, 20%);
    }
    .inspiration_content_box{
        width: auto;
        margin: auto;
        padding: 0;
        transform: translate(0, 30%);
    }
    .inspiration_content_textarea{
        padding: 0 20px;
    }
    .inspiration_content_textarea_inner{
        width: 74.02985075%;
        margin: 0 0 0 auto;
    }
    .overview_short_img.img_mo{
        transform-origin: 87% 78%;
    }
    .overview_short_content_box2{
        margin: 40px 0 0;
    }
    .exteriordesign_intro_img_text_inner{
        padding: 0 20px 60px 20px;
    }
    .exteriordesign_intro_img_text .exteriordesign_intro_img_text_title{
        font-size: 14px;
        line-height: 1.54;
    }   
    .exteriordesign_intro_img_text .exteriordesign_intro_img_text_desc{
        font-size: 14px;
        line-height: 1.54;
    }
    .exteriordesign_intro_img_text{
        max-width: 335px;
        font-size: 14px;
        line-height: 1.54;
    }
    .exteriordesign_item_text_inner{
        justify-content: flex-start;
        padding: 0 20px 60px 20px;
    }
    .exteriordesign_item_text{
        font-size: 14px;
        line-height: 1.54;
        max-width: 335px;
    }
    .full_visual_image_headline_wrap{
        padding-bottom: 60px;
        height: auto;
    }
    .full_visual_image_intro{
        min-height: calc(100vh - 52px);
    }
    .full_visual_image_headline_wrap::before{
        content: '';
        top: auto;
        bottom: 0;
        height: 200px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
    .full_visual_image_headline_text{
        padding-top: 0;
        padding: 0px 20px 0px;
    }
    .full_visual_image_headline_desc{
        top: auto;
        bottom: 0;
        left: 20px;
        width: calc(100% - 40px);
        transform: translateY(50%);
    }
    .full_visual_image_headline_desc_title{
        font-size: 14px;
        line-height: 1.54;
    }
    .interiordesign_title_inner{
        padding: 60px 20px 0px;
    }
    .interiordesign_box.is-mo{
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .interiordesign_img_wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .interiordesign_img{
        width: 100%;
        height: 100%;
    }
    .interiordesign__img{
        padding-top: 0;
        width: 100%;
        height: 108%;
    }
    .interiordesign__img img{
        transform: scale(1);
        transition: none;
    }
  
}
